* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  min-width: 600px;
  display: flex;
  flex-direction: row;
  background-color: #333;
  color: #fff;
  height: 250px;
}

ul {
  flex: 100%;
  margin-top: 150px;
  text-align: center;
  font-size: 2rem;
}

ul::before,
ul::after {
  display: flex;
  display: block;
  content: "";
  border-top: 0.2rem solid goldenrod;
}

li {
  list-style: none;
  display: inline;
  margin: 0 5%;
}

a:hover {
  cursor: pointer;
  color: goldenrod;
}

.specials {
  display: flex;
  flex-direction: row;
  height: 600px;
  text-align: center;
  background-color: burlywood;
}

.header {
  background-color: #333;
  text-align: center;
  color: goldenrod;
  letter-spacing: 2px;
  font-size: 3rem;
}

span {
  position: relative;
  top: 50px;
}

button {
  padding: 20px;
  margin-left: 50%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* FORM CSS */

form {
  display: flex;
  flex-direction: column;
}

form div {
  display: block;
  text-align: right;
  margin-top: 35px;
  width: 80%;
  font-size: 2rem;
}

input {
  width: 15rem;
  height: 2rem;
}

form div button {
  padding: 15px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-right: 150px;
}

form div button:hover {
  cursor: pointer;
}
